# Ignore everything
*

# Un-ignore folders
!*/

# Then allow these specific files
!.gitignore
!**/*.cs       # C# source files
!**/*.csproj   # Project files
!**/*.sln      # Solution file
!**/*.h        # Header files, if any
!**/*.config   # Config files
!**/README.md  # Documentation
